
body{
  background-color: #e3e5e8;
}
/* card component css */
.my-card{
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
}

.my-image{
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: grey;

}
